:root {
  --light-bg-color: #fefae0;
  --dark-bg-color: #dda15e;
  --bg-color-work: #bc6c25;
  --color-link: #283618;
  --color-link-hover: #606c38;
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me div {
  text-align: center;
}

.card {
  border: 1px solid var(--dark-bg-color);
  border-radius: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}
.card-body {
  background-color: var(--dark-bg-color);
}

#skills,
.jumbotron,
footer,
nav {
  background-color: var(--light-bg-color);
  border-radius: var(--spacing-small);
  margin: var(--spacing-medium);
}

.jumbotron img {
  border-radius: var(--spacing-small);
}

nav {
  background-color: var(--dark-bg-color);
}

.block {
  padding: var(--spacing-large);
}

.block > div > div > ul,
footer > ul {
  list-style: none;
  padding-left: 0;
}

.block > div > div > ul > li,
footer > ul > li {
  margin: var(--spacing-small);
}

.block a,
footer a,
.card-link,
.nav-link {
  color: var(--color-link);
}

.block a:hover,
.block a:focus,
footer a:hover,
footer a:focus,
.card-link:hover,
.card-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--color-link-hover);
  box-shadow: 0 0 11px rgba(132, 252, 84, 0.7);
  text-decoration: none;
}

footer {
  background-color: var(--dark-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > ul {
  display: flex;
}

footer h2 {
  margin-top: var(--spacing-medium);
}

@media only screen and (min-width: 600px) {
  .page-wrapper {
    width: 80vw;
    margin: 0 auto;
  }
  .about-me {
    padding: var(--spacing-large) 50px;
    flex-direction: row;
  }

  .about-me div {
    margin: 0 var(--spacing-large);
    text-align: justify;
  }

  .card {
    margin-bottom: var(--spacing-large);
  }

  .jumbotron {
    padding: 1rem 1rem;
  }
}
