:root {
  --bg-color-about: #e7c6ff;
  --bg-color-work: #ffd6ff;
  --bg-color-skills: #c8b6ff;
  --bg-color-contacts: #b8c0ff;
  --bg-color-footer: #bbd0ff;
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me div {
  text-align: center;
}

/* .jumbotron {
  background-color: var(--bg-color-about);
  border-radius: var(--spacing-small);
  margin: var(--spacing-medium);
} */

.card {
  border: 1px solid var(--bg-color-work);
  border-radius: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}
.card-body {
  background-color: var(--bg-color-work);
  /* padding: 10px; */
  /* margin: 10px; */
}

#skills, .jumbotron, footer {
  background-color: var(--bg-color-skills);
  border-radius: var(--spacing-small);
  margin: var(--spacing-medium);
}

.block {
  padding: var(--spacing-large);
}

.block>div>div>ul {
  list-style: none;
  padding-left: 0;
}

.block>div>div>ul>li {
  margin: var(--spacing-small);
}

footer {
  background-color: var(--bg-color-footer);
}

@media only screen and (min-width: 600px) {
  .page-wrapper {
    width: 80vw;
    margin: 0 auto;
  }
  .about-me {
    padding: var(--spacing-large) 50px;
    flex-direction: row;
  }

  .about-me div {
    margin: 0 var(--spacing-large);
    text-align: justify;
  }

  .card {
  margin-bottom: var(--spacing-large);
}
}
